<!DOCTYPE html>
{% load static %}
<html lang="ru" style="height: 100%;">
<head>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png">
  <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>{% block title %}Мой сайт{% endblock %}</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/b0c737396f.js" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/5a48b3f937.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="{% static 'shop/css/index.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body style="height: 100%;" class="darktheme">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand"  href="{% url 'shop:index' %}">
          EnglishPush
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="javascript: document.location.href = 'https://vk.com/public198013200' "><i class="fa fa-vk"></i> Наша группа</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'shop:posts' %}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Статьи</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#about"><i class="fa fa-address-book" aria-hidden="true"></i> О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:index' %}#markethr"><i class="fas fa-shopping-cart"></i> Товары</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    
	{% block content %}{% endblock %}
	<!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 198013200, {disableExpandChatSound: "1",disableNewMessagesSound: "1",disableButtonTooltip: "1"});
    </script>
    	
	  <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">↑Наверх↑</a></p>
        <p id="about">&copy; Englishpush. <span id="startyear">2020</span><span id="currentyear"></span> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p>Магазин EnglishPush.</p>
    </footer>
    <script>
        if(Date().getFullYear() != document.getElementById("startyear").innerHTML){
            document.getElementById("currentyear").innerHTML = "-" + new Date().getFullYear();
        }
    </script>
</body>
</html>