{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<main role="main">
  <style>
      .carousel-inner {
        width: 100%;
        margin: auto;
      }
      .carousel {
            margin-bottom: 4rem;
            width: 100%;
      }
      /* Since positioning the image, we need to help out the caption */
      .carousel-caption {
        bottom: 3rem;
        z-index: 10;
      }
      
      /* Declare heights because of positioning of img element */
      .carousel-item {
        height: 32rem;
      }
      .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
      }
      .carousel-caption p {
          margin-bottom: 1.25rem;
          font-size: 1.25rem;
          line-height: 1.4;
        }
  </style>
  {% if slides %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!--<ol class="carousel-indicators">
        {% for slide in slides %}
          {% if forloop.counter == 1 %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          {% else %}
            <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}-1"></li>
          {% endif %}

        {% endfor %}
      </ol> -->
      <div class="carousel-inner">
        {% for slide in slides %}
          {% if forloop.counter == 1 %}
            <div class="carousel-item active">
              <img src="{{slide.bg_photo.url}}" style="max-width: 500px; max-height: 500px;">
              <div class="container">
                <div class="carousel-caption text-center d-none d-md-block"">
                  <h1>{{slide.header}}</h1>
                  <p>{{slide.description}}</p>
                </div>
              </div>
            </div>
          {% else %}
            <div class="carousel-item">
              <img src="{{slide.bg_photo.url}}" style="max-width: 500px; max-height: 500px;">
              <div class="container">
                <div class="carousel-caption text-center d-none d-md-block"s">
                  <h1>{{slide.header}}</h1>
                  <p>{{slide.description}}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
      </a>
    </div>
  {% endif %}

  <hr id="articlehr" class="featurette-divider">
  <div id="last_articles" class="container">
    <div class="row">
      {% if posts %}
        {% for post in posts %}
          <div class="col-lg-4 col-sm-2">
              <div class="card" style="width: 100%;">
                {% if post.preview %}
                  <img class="card-img-top" src="{{post.preview}}" onerror="this.src='{{post.preview.url}}'" alt="Card image cap">
                {% else %}
                  <h1>Нет Превью<h1>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{post.header}}</h5>
                  <p class="card-text">{{post.text|safe|truncatechars:50}}</p>
                  <div class="col d-flex justify-content-center">
                    <a href="{% url 'shop:post' post.id %}" class="btn btn-primary">Перейти</a>
                  </div>
                  <p class="card-text text-muted text-center"><i class="far fa-clock"></i> {{post.pub_date}} | <i class="fa fa-user" aria-hidden="true"></i> {{post.author}}</p>

                </div>
              </div>
            </div><!-- /.col-lg-4 -->
        {% endfor %}
      {% else %}
        
      {% endif %}
    </div>
  </div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr id="markethr" class="featurette-divider">
    
    <div id="market">
      <div class="dividerdiv">
        <h1 style="color: white;">Товары</h1>
      </div>
      <div class="row">
        {% if products %}
        {% for prod in products %}
          <div class="col-lg-4 col-sm-2">
              <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{{prod.photo.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{prod.name}}</h5>
                  <p class="card-text">{{prod.description|truncatewords:20}}</p>
                  <a href="{% url 'shop:product' prod.id %}" class="btn btn-success">{{prod.price}} &#8381; &raquo;</a>
                </div>
              </div>
            </div><!-- /.col-lg-4 -->
          {% endfor %}
        {% else %}
          <div class="text-center">
            <h1 style="color: white;">Товары не найдены!</h1>
          </div>
        {% endif %}
      </div><!-- /.row -->
      
      <hr class="featurette-divider">
      </div><!-- /.container -->
    </div>
    


</main>
	
{% endblock %}