{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.header}}
{% endblock %}

{% block content %}

    <main role="main">
        <div> 
            <h1 class="text-center" style="color: white;">{{post.header}}</h1>
            <div class="col d-flex justify-content-center">
                {% if post.preview %}
                    <img style="max-height: 500px; max-width: 500px;" src="{{post.preview}}" onerror="this.src='{{post.preview.url}}'" alt="Превью статьи">
                {% else %}
                    <h1>Нет Превью<h1>
                {% endif %}            
            </div>
            <hr class="featurette-divider">
                <p style="color: white;">{{post.text|safe}}</p>
            <p class="text-center" style="color: white;"><i class="far fa-clock"></i> {{post.pub_date}} | <i class="fa fa-user" aria-hidden="true"></i> {{post.author}}</p>
            <hr class="featurette-divider">
            <div class="col d-flex justify-content-center">
                <a type="button" style="color: white;" class="btn btn-primary btn-lg" onclick="window.history.back()"><li class="far fa-arrow-left"></li> Назад</a>
            </div>
        </div>
    </main>
{% endblock %}