{% extends 'base.html' %}
{% block title %}
    {{post.header}}
{% endblock %}
{% block content %}
    <main role="main">
        <h1 class="text-center" style="color: white;">{{post.header}}</h1>
        <div class="col d-flex justify-content-center">
            <img style="max-width: 500px; max-height: 500px;" src="{{post.preview.url}}">
        </div>
        <div class="col d-flex justify-content-center">
            <p class="text-center" style="color: white; margin-left: 10%; margin-right: 10%;">{{post.text}}</p>
        </div>
        <p class="text-center" style="color: white;"><i class="far fa-clock"></i> {{post.pub_date}}</p>

    </main>
{% endblock %}