{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

    <nav class="navbar navbar-dark navbar-expand-lg footer" >	
		<div class="dropdown">
          <img class="icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1024px-Bootstrap_logo.svg.png">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
	</nav>
	<div class="content">
	    <p>ttt</p>
	</div>
	<div class="basement fixed-bottom">
	    <p>test text</p>
	</div>

	
{% endblock %}